.btn {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .4px;
	font-weight: 600;
	padding: $spacing-scale-8 $spacing-scale-12;
	border-radius: $border-radius-small;
	border: 0;
	cursor: pointer;
	transition: background-color .3s ease;

	&--link {
		display: inline-block;
		text-decoration: none;
		line-height: 1;
	}

	&--primary {
		background-color: $color-primary;
		color: #fff;

		&:hover {
			background-color: darken($color-primary, 10%);
		}
	}

	&--small {
		padding: $spacing-scale-6 $spacing-scale-8;
		font-size: $font-size-small;
	}
}
