@mixin landing-header {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	align-items: start;
	align-content: start;
	background-image: linear-gradient(rgba($color-secondary, .70), rgba($color-secondary, .70)),
		url('../../../assets/images/header-bg.jpeg');
	background-size: cover;
	background-position: bottom;
	padding: 0 $container-gap;

	& > * {
		width: 100%;
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;
	}

	&-nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		margin: $spacing-scale-4 auto;
	}

	&-menu-btn {
		display: none;
		color: $color-gray-light-2;

		& > * {
			width: 24px;
			height: 24px;
		}

		&:hover {
			&::after {
				background-color: rgba(#fff, .08);
			}
		}

		@include media-breakpoint-down("md") {
			display: flex;
		}
	}

	&-links {
		flex: 1;

		display: grid;
		grid-auto-flow: column;
		justify-items: center;
		align-items: center;
		justify-content: end;
		grid-gap: $spacing-scale-10;

		@include media-breakpoint-down("md") {
			display: none;
		}
	}

	&-link {
		&,
		&:visited {
			display: inline-block;
			font-size: 1.5rem;
			font-weight: 500;
			letter-spacing: .4px;
			text-transform: uppercase;
			color: $color-gray-light-2;
		}
	}

	&-content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		align-self: center;
		color: $color-gray-light-2;
		padding: $spacing-scale-14 0;

		& > * {
			max-width: 80rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&-title {
		line-height: 1.2;
	}

	&-text {
		font-size: $font-size-large;
	}

	&-btn {
		margin-top: $spacing-scale-14;
	}

	&-seenon {
		margin-bottom: 8rem;

		& > * {
			max-width: 80rem;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
