@mixin landing-features {
	padding: 8rem $container-gap;

	@include media-breakpoint-down("md") {
		padding: 4rem $container-gap-small;
	}

	&-body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax($grid-column-width * 2, 1fr));
		grid-column-gap: $grid-column-width;
		grid-row-gap: $spacing-scale-20;
		align-items: start;
		max-width: $container-max-width;
		margin: 0 auto;
	}

	.feature {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-column-gap: $spacing-scale-10;

		&__icon {
			grid-row: 1 / span 2;
			grid-column: 1 / 2;
			color: $color-primary-dark;
			width: 4.5rem;
			height: 4.5rem;
		}

		&__title {
			line-height: 1.2;
			color: $color-primary-dark;
		}

		&__text {
			font-size: $font-size-xmedium;
		}
	}
}
