@use 'sass:math';

@mixin landing-story {
	padding: 0 $container-gap;

	@include media-breakpoint-down('lg') {
		display: flex;
		padding-top: 8rem;
		padding-bottom: 4rem;
	}

	.story {
		$this: &;

		display: flex;
		align-items: center;
		max-width: $container-max-width;
		margin: 0 auto;

		& > * {
			flex: 1 1 50%;
		}

		&__picture {
			display: grid;
			grid-template-columns: repeat(4, minmax(min-content, $grid-column-width));
			justify-items: end;
			align-items: end;

			position: relative;
			align-self: stretch;

			&-base {
				grid-row: 1 / 2;
				grid-column: 2 / -1;
				position: relative;
				width: 100%;
				height: calc(80% - 4rem);
				margin-bottom: 2rem;
				border: .3rem solid rgba($color-primary, .6);
				z-index: 0;
			}

			&-img {
				grid-row: 1 / 2;
				grid-column: 1 / -1;
				position: relative;
				width: calc(100% - 4rem);
				margin: 4rem;
				margin-right: 2rem;
				border-top-left-radius: 2rem;
				box-shadow: .8rem .8rem .8rem -.4rem rgba(#000, .25);
				z-index: 1;
			}
		}

		&__body {
			padding: 4rem math.div($grid-column-width, 2);
			padding-right: 0;
		}

		&__subtitle {
			text-transform: uppercase;
			color: $color-primary;
		}

		&__title,
		&__text {
			font-style: italic;
		}

		&__title {
			line-height: 1.2;
		}

		&__text {
			font-size: $font-size-xmedium;
		}

		&__btn {
			margin-top: 4rem;
		}

		@include media-breakpoint-down('lg') {
			flex-flow: column nowrap;

			& > * {
				flex: 1;
			}

			&__picture {
				order: 1;
				align-self: center;
			}

			&__body {
				display: flex;
				flex-flow: column nowrap;
				padding-top: 0;
				padding-left: 0;
				padding-bottom: 0;

				.story__subtitle {
					text-align: center;
					margin-bottom: 4rem;
					line-height: 1;
				}
			}

			&__btn {
				align-self: center;
			}
		}
	}
}
