@use 'sass:math';

@import './landing-features';
@import './landing-story';
@import './landing-homes';
@import './landing-gallery';

.landing {
	display: grid;
	// prettier-ignore
	grid-template-rows: 
        minmax(40rem, 70vh) 
        repeat(5, minmax(8rem, min-content));
	// prettier-ignore
	grid-template-columns: 
        [main-start] 
        minmax($grid-margins, 1fr) 
        [center-start] 
        repeat($grid-columns, [col-start] minmax(min-content, $grid-column-width) [col-end])
        [center-end] 
        minmax($grid-margins, 1fr)
        [main-end];

	&__header {
		grid-column: main-start / col-end 6;
		background-color: $color-primary-darken-2;
	}

	&__top-realtors {
		grid-column: col-start 7 / main-end;
		background-color: $color-secondary;
	}

	&__features {
		grid-column: center-start / center-end;

		@include landing-features;
	}

	&__story-pictures {
		grid-column: main-start / col-end 4;
		background-color: $color-gray-lighten;

		@include landing-story-pictures;
	}

	&__story-content {
		grid-column: col-start 5 / main-end;
		background-color: $color-gray-lighten;

		@include landing-story-content;
	}

	&__homes {
		grid-column: center-start / center-end;

		@include landing-homes;
	}

	&__gallery {
		grid-column: main-start / main-end;
		background-color: $color-gray-lighten;

		@include landing-gallery;
	}

	&__footer {
		grid-column: main-start / main-end;
		background-color: $color-secondary;
	}

	&__section-header,
	&__section-fbar {
		display: flex;
		justify-content: center;
	}

	&__section-header {
		margin-bottom: math.div($grid-column-width, 4);
	}

	&__section-title {
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		color: $color-primary;
		margin-bottom: 0;
	}
}
